body {
    height: 100%;
    margin-top:0;
    margin-left: 0;
    position: absolute;
    width: 100%;
}
#page-background {
    background-color: #771811;
    width: 100%;
    height: 100%;
}
#page-top-bar {
    background-color: #310d0a;
    width: 100%;
    height: 5pc;
    top: 0;
    position: fixed;
}
#page-top-bar .button * {
    height: 100%;
    position: relative;
}

#SCP914 {
    left: calc(50% - 10vw);
    position: absolute;
    background-color: red;
    margin-top: 20pc;
    width: 20vw;
    height: 20vw;
}
#machine-panel {
    position: absolute;   
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#panel-change {
    display: block;
    margin: auto;
    margin-top: 32%;
    height: 20%;
    transition: transform 1s;
    transform: rotate(-94deg);
}
#panel-button {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 20%;
    height: 20%;
    z-index: 2;
}